* {
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
svg {
    position: relative;
    will-change: transform;
}

    /* Define initial stroke dash and offset */
path {
      stroke-dasharray: var(--path-length, 1389.302490234375);
      stroke-dashoffset: var(--path-length, 1389.302490234375);
      stroke: #007AFF; /* Initial stroke color */
}
    /* Animate stroke-dashoffset to zero to simulate drawing */
path.animate-draw {
      animation: draw 3s linear forwards, changeColor 3s linear forwards;
}
    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
}
    /* Animate the stroke color */
@keyframes changeColor {
      0% {
        stroke: #007AFF;
      }
      100% {
        stroke: white;  /* Final stroke color */
      }
}

.move-to-corner {
    animation: moveToCorner 3s ease-out forwards;
  }
  @keyframes moveToCorner {
    
    to {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 50px;
      height: auto;
    }
  }